<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <link href="frmLogin.css" rel="stylesheet" />
</head>
<body>   
    <div id="logintable">
        <div>
            <div>
                <div id="loginbox">
                    <label>Login</label>
                    <input type="text" id="usuario" placeholder="Ingrese el usuario" />
                    <label>Contraseña</label>
                    <input type="password" id="password" placeholder="Ingrese la contraseña" />
                    <input type="submit" id="btnAcceder" value="Acceder" />
                </div>
            </div>
        </div>
    </div>
    
    
</body>
</html>
