<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="frmLogin.css" rel="stylesheet" />
    <link href="../../Estilos/general.css" rel="stylesheet" />
    <script src="../../Scripts/jquery.mobile-1.3.0.min.js"></script>
</head>
<body>  
    <form action="../frmConsultaInternet/frmConsultaInternet.html">
        <div id="logintable">
            <div>
                <div>
                    <div id="loginbox">                        
                        <label for="usuario">Login</label>
                        <input type="text" data-clear-btn="true" name="usuario" id="usuario" placeholder="Ingrese el usuario" />
                        <label for="password">Contraseña</label>
                        <input type="password" data-clear-btn="true" name="password" id="password" placeholder="Ingrese la contraseña" />
                        <input type="submit" id="btnAcceder" value="Acceder" />                        
                    </div>
                </div>
            </div>
        </div>
    </form> 
    
</body>
</html>
